force-app/main/default/flows/Add_Meter_and_Regulator_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_RecordId</name>
        <label>Set RecordId</label>
        <locationX>563</locationX>
        <locationY>72</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_WorkStep</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>This variable is used to store default value for Gas Meter.</description>
        <name>con_GasMeter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Gas Meter</stringValue>
        </value>
    </constants>
    <constants>
        <description>This variable is used to store default value for Regulator.</description>
        <name>con_Regulator</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Regulator</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if Id of Work Step exists or not.</description>
        <name>Check_Id_Exists</name>
        <label>Check Id Exists?</label>
        <locationX>366</locationX>
        <locationY>69</locationY>
        <defaultConnector>
            <targetReference>Get_WorkStep</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IdExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RecordId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>A Screen flow that is used to add the details and photos of Meter and Regulators.</description>
    <environments>Default</environments>
    <interviewLabel>Add Meter and Regulator Details {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Add Meter and Regulator Details</label>
    <loops>
        <description>Loop through uploaded Meter photos.</description>
        <name>Loop_Through_Meter_Photos</name>
        <label>Loop Through Meter Photos</label>
        <locationX>331</locationX>
        <locationY>535</locationY>
        <assignNextValueToReference>var_MeterContentDocumentId</assignNextValueToReference>
        <collectionReference>var_MeterContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_MeterAssetAttachment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RegulatorAsset</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Regulator_Photos</name>
        <label>Loop Through Regulator Photos</label>
        <locationX>1111</locationX>
        <locationY>536</locationY>
        <assignNextValueToReference>var_RegulatorContentDocumentId</assignNextValueToReference>
        <collectionReference>var_RegulatorContentDocumentIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_RegulatorAssetAttachment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <description>Create Asset for Gas Meter.</description>
        <name>Create_GasMeterAsset</name>
        <label>Create Gas Meter Asset</label>
        <locationX>721</locationX>
        <locationY>365</locationY>
        <assignRecordIdToReference>var_MeterAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_MeterReadAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>var_LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!con_GasMeter}-{!S01_MeterSerialNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>S01_MeterSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <description>Attach the uploaded file to Meter Asset.</description>
        <name>Create_MeterAssetAttachment</name>
        <label>Create Meter Asset Attachment</label>
        <locationX>329</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>Loop_Through_Meter_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>var_MeterContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>var_MeterAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Meter Manufacturer.</description>
        <name>Create_MeterManufacturerAssetAttribute</name>
        <label>Create Meter Manufacturer Asset Attribute</label>
        <locationX>198</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Loop_Through_Meter_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_MeterAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterManufacturerAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterManufacturer</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Meter Reading.</description>
        <name>Create_MeterReadAssetAttribute</name>
        <label>Create Meter Read Asset Attribute</label>
        <locationX>557</locationX>
        <locationY>365</locationY>
        <connector>
            <targetReference>Create_MeterReadDateAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_MeterAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterReadAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterRead</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Meter Read Date.</description>
        <name>Create_MeterReadDateAssetAttribute</name>
        <label>Create Meter Read Date Asset Attribute</label>
        <locationX>384</locationX>
        <locationY>362</locationY>
        <connector>
            <targetReference>Create_MeterSizeAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_MeterAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterReadDateAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterReadDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Meter Size.</description>
        <name>Create_MeterSizeAssetAttribute</name>
        <label>Create Meter Size Asset Attribute</label>
        <locationX>199</locationX>
        <locationY>370</locationY>
        <connector>
            <targetReference>Create_MeterManufacturerAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_MeterAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_MeterSizeAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_MeterSize</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset for Regulator.</description>
        <name>Create_RegulatorAsset</name>
        <label>Create Regulator Asset</label>
        <locationX>549</locationX>
        <locationY>537</locationY>
        <assignRecordIdToReference>var_RegulatorAssetId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_RegulatorSizeAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InstallDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LocationId</field>
            <value>
                <elementReference>var_LocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!con_Regulator}-{!S01_RegulatorSerialNumber}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>S01_RegulatorSerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Installed</stringValue>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordCreates>
        <description>Attach uploaded file to Regulator Asset</description>
        <name>Create_RegulatorAssetAttachment</name>
        <label>Create Regulator Asset Attachment</label>
        <locationX>1121</locationX>
        <locationY>736</locationY>
        <connector>
            <targetReference>Loop_Through_Regulator_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>var_RegulatorContentDocumentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>var_RegulatorAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Regulator Manufacture Date.</description>
        <name>Create_RegulatorManufactureDate</name>
        <label>Create Regulator Manufacture Date</label>
        <locationX>989</locationX>
        <locationY>536</locationY>
        <connector>
            <targetReference>Loop_Through_Regulator_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_RegulatorAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_RegulatorManufactureDateAttribueDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_RegulatorManufactureDate</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Asset Attribute for Regulator Manufacturer.</description>
        <name>Create_RegulatorManufacturerAssetAttribute</name>
        <label>Create Regulator Manufacturer Asset Attribute</label>
        <locationX>834</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Create_RegulatorManufactureDate</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_RegulatorAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_RegulatorManufacturerAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_RegulatorManufacturer</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <description>Create Regulator Size Asset Attribute.</description>
        <name>Create_RegulatorSizeAssetAttribute</name>
        <label>Create Regulator Size Asset Attribute</label>
        <locationX>690</locationX>
        <locationY>537</locationY>
        <connector>
            <targetReference>Create_RegulatorManufacturerAssetAttribute</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>var_RegulatorAssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>var_RegulatorSizeAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>S01_RegulatorSize</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordLookups>
        <description>Get Asset Record</description>
        <name>Get_Asset</name>
        <label>Get Asset</label>
        <locationX>657</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_AssetId</elementReference>
            </value>
        </filters>
        <object>Asset</object>
        <outputAssignments>
            <assignToReference>var_AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_LocationId</assignToReference>
            <field>LocationId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Manufacturer Attribute Definition</description>
        <name>Get_MeterManufacturerAttributeDefinition</name>
        <label>Get Meter Manufacturer Attribute Definition</label>
        <locationX>1158</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RegulatorManufacturerAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Manufacturer</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterManufacturerAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Read Attribute Definition.</description>
        <name>Get_MeterReadAttributeDefinition</name>
        <label>Get Meter Read Attribute Definition</label>
        <locationX>764</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterReadDateAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterReadAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Read Date Attribute Definition.</description>
        <name>Get_MeterReadDateAttributeDefinition</name>
        <label>Get Meter Read Date Attribute Definition</label>
        <locationX>897</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterSizeAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read Date</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterReadDateAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Meter Size Attribute Definition.</description>
        <name>Get_MeterSizeAttributeDefinition</name>
        <label>Get Meter Size Attribute Definition</label>
        <locationX>1015</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_MeterManufacturerAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Size</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_MeterSizeAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RegulatorManufactureDateAttributeDefinition</name>
        <label>Get Regulator Manufacture Date Attribute Definition</label>
        <locationX>1111</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RegulatorSizeAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regulator Manufacture Date</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_RegulatorManufactureDateAttribueDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RegulatorManufacturerAttributeDefinition</name>
        <label>Get Regulator Manufacturer Attribute Definition</label>
        <locationX>1260</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RegulatorManufactureDateAttributeDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regulator Manufacturer</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_RegulatorManufacturerAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Regulator Size Attribute Definition.</description>
        <name>Get_RegulatorSizeAttributeDefinition</name>
        <label>Get Regulator Size Attribute Definition</label>
        <locationX>987</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_MeterAndRegulatorDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Regulator Size</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>var_RegulatorSizeAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Work Order</description>
        <name>Get_WorkOrder</name>
        <label>Get Work Order</label>
        <locationX>523</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>var_AssetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get Work Step</description>
        <name>Get_WorkStep</name>
        <label>Get Work Step</label>
        <locationX>392</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>var_WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <description>A Screen flow that is used to add the details and photos of Meter and Regulators.</description>
        <name>S01_MeterAndRegulatorDetails</name>
        <label>Meter And Regulator Details</label>
        <locationX>862</locationX>
        <locationY>363</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_GasMeterAsset</targetReference>
        </connector>
        <fields>
            <name>S01_MeterAndRegulator</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Enter Meter And Regulator Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_MeterDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Meter Details:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_MeterSerialNumber</name>
            <dataType>String</dataType>
            <fieldText>Meter Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_MeterManufacturer</name>
            <dataType>String</dataType>
            <fieldText>Meter Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_MeterSize</name>
            <dataType>String</dataType>
            <fieldText>Meter Size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_MeterRead</name>
            <dataType>String</dataType>
            <fieldText>Meter Read</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_MeterReadDateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Meter Read Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_UploadMeterPhoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jpeg,.png, .tiff,.gif,.heif,.raw</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload Photo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>var_MeterContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_MeterContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <fields>
            <name>S01_RegulatorDetails</name>
            <fieldText>&lt;p&gt;Regulator Details&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S01_RegulatorSerialNumber</name>
            <dataType>String</dataType>
            <fieldText>Regulator Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_RegulatorManufacturer</name>
            <dataType>String</dataType>
            <fieldText>Regulator Manufacturer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_RegulatorSize</name>
            <dataType>String</dataType>
            <fieldText>Regulator Size</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_RegulatorManufactureDate</name>
            <dataType>Date</dataType>
            <fieldText>Regulator Manufacture Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>S01_UploadRegulatorPhoto</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .jpeg,.png, .tiff,.gif,.heif,.raw</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>var_RegulatorContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Upload Photo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_RegulatorContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Id_Exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable is used to store Id of Work Step associated with the screen flow.</description>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Work Step associated with the screen flow.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Account Id.</description>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Asset Id.</description>
        <name>var_AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Contact Id.</description>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Location Id.</description>
        <name>var_LocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Meter Asset.</description>
        <name>var_MeterAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of attachment for Meter Asset.</description>
        <name>var_MeterContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This collection is used to store Ids of uploaded files for Meter.</description>
        <name>var_MeterContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Meter Manufacturer Attribute Definition.</description>
        <name>var_MeterManufacturerAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Meter Read Attribute Definition.</description>
        <name>var_MeterReadAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store  Id of Mater Read Date Attribute Definition.</description>
        <name>var_MeterReadDateAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Meter Size Attribute Definition.</description>
        <name>var_MeterSizeAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Asset Id of regulator.</description>
        <name>var_RegulatorAssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of attachment for Regulator Asset.</description>
        <name>var_RegulatorContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This collection is used to store Ids of uploaded files for Regulator.</description>
        <name>var_RegulatorContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Attribute Definition for Regulator Manufacture Date.</description>
        <name>var_RegulatorManufactureDateAttribueDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Attribute Definition for Regulator Manufacturer.</description>
        <name>var_RegulatorManufacturerAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store Id of Attribute Definition for Regulator Size.</description>
        <name>var_RegulatorSizeAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is used to store WorkOrder Id.</description>
        <name>var_WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
