force-app/main/default/flows/Enter_Old_Meter_Read_and_Date_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Meter_Read_Asset_Attribute_Exists</name>
        <label>Meter Read Asset Attribute Exists</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeterReadAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meter_Read_Asset_Attribute</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeterReadAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Read_Asset_Attribute</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Meter_Read_Date_Asset_Attribute_Exists</name>
        <label>Meter Read Date Asset Attribute Exists</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Meter_Read_Asset_Attribute_Exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MeterReadDate_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeterReadDateAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Meter_Read_Date_Asset_Attribute</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>MeterReadDate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeterReadDateAssetAttributeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Meter_Read_Date_Asset_Attribute</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <description>Enter old meter reading and date time</description>
    <environments>Default</environments>
    <interviewLabel>Enter Old Meter Read and Date Time {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Enter Old Meter Read and Date Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Meter_Read_Asset_Attribute</name>
        <label>Create Meter Read Asset Attribute</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>MeterReadAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>Meter_Read</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Meter_Read_Date_Asset_Attribute</name>
        <label>Create Meter Read Date Asset Attribute</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Meter_Read_Asset_Attribute_Exists</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeDefinitionId</field>
            <value>
                <elementReference>MeterReadDateAttributeDefinitionId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>Meter_Read_DateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Meter_Read_Asset</name>
        <label>Get Meter Read Asset Attribute</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Read_Date_Asset_Attribute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterReadAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <object>AssetAttribute</object>
        <outputAssignments>
            <assignToReference>MeterReadAssetAttributeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Read_Attribute_Definition</name>
        <label>Get Meter Read Attribute Definition</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Read_DateTime_Attribute_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>MeterReadAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Read_Date_Asset_Attribute</name>
        <label>Get Meter Read Date Asset Attribute</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>old_meter_read_and_date_time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterReadDateAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <object>AssetAttribute</object>
        <outputAssignments>
            <assignToReference>MeterReadDateAssetAttributeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Read_DateTime_Attribute_Definition</name>
        <label>Get Meter Read DateTime Attribute Definition</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Read_Asset</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Read Date</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>MeterReadDateAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Read_Attribute_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meter_Read_Asset_Attribute</name>
        <label>Update Meter Read Asset Attribute</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterReadAssetAttributeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>Meter_Read</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Meter_Read_Date_Asset_Attribute</name>
        <label>Update Meter Read Date Asset Attribute</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Meter_Read_Asset_Attribute_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterReadDateAssetAttributeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>Meter_Read_DateTime</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordUpdates>
    <screens>
        <description>Enter old meter read and date time</description>
        <name>old_meter_read_and_date_time</name>
        <label>Enter Old Meter Read and Date Time</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Meter_Read_Date_Asset_Attribute_Exists</targetReference>
        </connector>
        <fields>
            <name>Meter_Read</name>
            <dataType>String</dataType>
            <fieldText>Meter Read</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meter_Read_DateTime</name>
            <dataType>DateTime</dataType>
            <fieldText>Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterReadAssetAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterReadAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterReadDateAssetAttributeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterReadDateAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
