force-app/main/default/flows/Turn_Off_Gas_Meter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>A Screen Flow that is used to turn off Gas Meter.</description>
    <environments>Default</environments>
    <formulas>
        <name>MeterBarSealedValue</name>
        <dataType>Boolean</dataType>
        <expression>{!MeterBarSealed}=&apos;True&apos;</expression>
    </formulas>
    <interviewLabel>Turn Off Gas Meter {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Turn Off Gas Meter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Meter_Bar_Sealed</name>
        <label>Get Meter Bar Sealed</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Turn_Off_Gas_Meter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterBarSealedAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <object>AssetAttribute</object>
        <outputAssignments>
            <assignToReference>MeterBarSealed</assignToReference>
            <field>AttributeValue</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Meter_Bar_Sealed_Attribute_Definition</name>
        <label>Get Meter Bar Sealed Attribute Definition</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Bar_Sealed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Meter Bar Sealed</stringValue>
            </value>
        </filters>
        <object>AttributeDefinition</object>
        <outputAssignments>
            <assignToReference>MeterBarSealedAttributeDefinitionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Meter_Bar_Sealed_Attribute_Definition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrderId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>AssetId</assignToReference>
            <field>AssetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Step</name>
        <label>Get Work Step</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>WorkStep</object>
        <outputAssignments>
            <assignToReference>WorkOrderId</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meter_Bar_Sealed</name>
        <label>Update Meter Bar Sealed</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssetId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AttributeDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MeterBarSealedAttributeDefinitionId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AttributeValue</field>
            <value>
                <elementReference>Meter_Bar_Sealed_Checkbox</elementReference>
            </value>
        </inputAssignments>
        <object>AssetAttribute</object>
    </recordUpdates>
    <screens>
        <name>Turn_Off_Gas_Meter</name>
        <label>Turn Off Gas Meter</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Meter_Bar_Sealed</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Turn Off Instructions:&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Turn the Valve Off&lt;/li&gt;&lt;li&gt;Turn Transmitter Off&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_have_completed_the_above_Instructions</name>
            <dataType>Boolean</dataType>
            <fieldText>I have completed the above Instructions</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Meter_Bar_Sealed_Checkbox</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>MeterBarSealedValue</elementReference>
            </defaultValue>
            <fieldText>Meter Bar Sealed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Work_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterBarSealed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MeterBarSealedAttributeDefinitionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
